body{
    background-color: darkseagreen;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-left: 40px;
}
 
main{
    display: flex;
    justify-content: space-around;
    justify-content:space-between
    

}

img{
    display: block;
    margin-left: 75px;
    height: 375px;
    width: 400px;
    border: solid black;
}
