body{
    background-color: darkseagreen;
}

h1{
    text-align: center;
}
 
main{
    display: flex;
    justify-content: space-evenly;
}

img{
    height: 375px;
    width: 375px;
    border: white;
}